.listagem {
    max-width: 200px;
}

.listagem .fairytail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #50082f;
    color: #ffffff;
    padding: 0.5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.15% ease-in-out;
    text-shadow: 2px 2px 4px #000000;
}

.listagem .fairytail:hover {
    transform: scale(1.05);
}

.listagem .fairytail img {
    width: 30%;
    border-radius: 50%;
}

.listagem .fairytail span{
    padding-right: 20px;
}

.listagem .fairytail.ativo {
    background-color: #ff0101;
}